/* This is to add a border and margin around the photos */
.project-photos{
    margin:5px;
    border: 3px solid black;
}
/* this is to format the text of the description */
.project-description{
    width:65%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 980px){
    .project-photos{
        width:100vw;
        margin-left: 0;
    }
}