.App{
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.App-Body{
    min-height: 90vh;
    background-color: #fff;
    /* background-image: url('https://i.imgur.com/WHoW60p.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}
