.grid-container{
    display: grid;
    grid-template-rows: auto auto auto;
    width: 95%
}
.home-container{
    display: grid;
    grid-template-columns: 48% 48%;
    width: 90%;
}
.about-component{
    width: 45%;
    margin-left: 92px;
    float: left;
    white-space: normal;
    display: flex;
    height: 400px;
}
.current-projects-component{
    width: 40%;
    float: right;
    white-space: normal;
    display:flex;
    margin-right: 88px;
    height: 400px;
}
.languages-info{
    margin-top: 25px;
    width: 100%;
    margin-bottom: 50px;
}
@media screen and (max-width: 980px){
    .grid-container{
        width: 100vw;
    }
    .home-container{
        width: 100vw;
    }
   .about-component{
       width:100vw;
       display: block;
       margin-left: 0;
       margin-bottom:100px;
   }
   .current-projects-component{
       width: 100vw;
       display: block;
       margin-top: 25px;
       margin-bottom: 80px;
   }
   .languages-info{
       width: 100vw;
       display:block;
       margin-left: 0;

   }
    
}