.home-container{
    display: grid;
    grid-template-columns: 45% 45%;
}
.about-component{
    width: 45%;
    margin-left: 25px;
    float: left;
    white-space: normal;
    display: flex;
}
.current-projects-component{
    width: 45%;
    float: right;
    white-space: normal;
    display:flex;
    margin-right: 25px;
}
.languages-info{
    margin-top: 25px;
    width: 100%;
}
@media screen and (max-width: 980px){
   .about-component{
       width:100%;
       display: block
   }
   .current-projects-component{
       width: 100%;
       display: block;
   }
    
}