.languages-container{
    margin-top: 20px;
    grid-template-columns: 32% 32% 32%;
    display: grid;
    width:100%;
}
.frequently-used{
    display:inline-block;
    list-style-position: inside;
}
.tech-used{
    display:inline-block;
    list-style-position: inside;
}
.soft-skills{
    display: inline-block;
    list-style-position: inside;
}